aclocal.m4
autom4te.cache
build-aux
config.*
configure
Makefile
Makefile.in
common/gnome-shell/**/gnome-shell-dark.css
common/gnome-shell/**/gnome-shell.css
common/gtk-3.0/**/*.css
common/gtk-3.0/**/dark/
common/gtk-3.0/**/assets/*.png
common/gtk-2.0/*/assets/*.png
common/gtk-2.0/menubar-toolbar/*.png

